@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

@layer base {
  button:focus,
  [role='button']:focus {
    outline: none;
  }

  input:focus,
  textarea:focus {
    border-color: #b7c7cf;
    outline: 2px solid #b7c7cf;
    outline-offset: 0;
  }
}

.header-search-input::placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
