@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background-color: #f5f5f5;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

@layer base {
  button:focus,
  [role='button']:focus {
    outline: none;
  }
}

.header-search-input::placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
